@model Budget

       <div class="x_content">

                    <section class="content invoice">
                      <div class="row">
                        <div class="col-xs-12 invoice-header">
                          <h1>
                                          <i class="fa fa-bank"></i> KASSA
                                          <small class="pull-right">Büdcə: @Model.TotalBudget Azn </small>
                                      </h1>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xs-12 table">
                          <table class="table table-striped">
                            <thead>
                              <tr>
                                <th>Id</th>
                                <th>Məhsul şəxs</th>
                                <th>Dəyişmə vaxtı</th>
                                <th style="width: 59%">Məlumat</th>
                                <th>Son dəyişiklik</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>@Model.Id</td>
                                <td>@Model.LastModifiedBy</td>
                                <td>@Model.LastModifiedDate</td>
                                <td>@Model.LastModifiedDescription</td>
                                <td>@Model.LastModifiedAmount AZN</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </section>
                  </div>


                                                